<strong>Id:</strong> <%= link_to user.id, user %> <br />
<strong>Email:</strong> <%= user.email %><br />
<strong>Confirmed:</strong> <%= user.confirmed? %><br />
<strong>Sign In Count:</strong> <%= user.sign_in_count %><br />
<strong>Current Sign In At:</strong> <%= user.current_sign_in_at %><br />
<strong>Last Sign In At:</strong> <%= user.last_sign_in_at %><br />
<strong>Current Sign In Ip:</strong> <%= user.current_sign_in_ip %><br />
<strong>Last Sign In Ip:</strong> <%= user.last_sign_in_ip %><br />
<strong>User Locked:</strong> <%= user.locked_at %><br />
<strong>Created At:</strong> <%= user.created_at %><br />

<div class="d-flex align-items-center gap-2 mt-2">
<%= link_to ban_status(user), ban_user_path(user), method: :patch , class: 'btn btn-info' %>
<%= button_to "Delete", user, method: :delete ,class: "btn btn-danger", data: {confirm: "Are you certain?"} %>
</div>
<hr>